# .gitignore

# Directories
*/build
/build*
/.cproject
/docs/html/
/docs/latex/
/docs/xml/
/.project
__pycache__/
/.pydevproject
/run/applications/*
/run/.DS_Store
/run/*.log
/run/*.nc
/run/nextsim
/.settings/*

# File types
*.DS_Store
*.log
*.nc
*.sif
*.smesh
.*sw?
/run/*.cdl
.cache/
.clangd
compile_commands.json
*.vtk

# Specific files
Results
/*/src/modules/include/*Module.hpp
/*/src/modules/*/module.cpp
