/build*
*/build
Results
/.cproject
/.project
/.pydevproject
/.settings/*
/src/modules/generated/moduleLoader*.ipp
/*/src/modules/generated/moduleLoader*.ipp
/run/*.nc
/run/nextsim
/run/.DS_Store
/run/*.log
/run/applications/*
*.vtk
*.smesh
*.DS_Store