<?xml version="1.0"?>
<simulation>
  <context id="nextSIM-DG">
    <calendar type="Gregorian" time_origin="1970-01-01" />
    <axis_definition>
      <axis id="DGAxis" n_glo="{{ DGCOMP }}" name="dg_comp" dim_name="DGAxis"/>
      <axis id="DGSAxis" n_glo="{{ DGSTRESSCOMP }}" name="dgstress_comp" dim_name="DGSAxis"/>
      <axis id="VertexAxis" n_glo="2" name="ncoords" dim_name="VertexAxis"/>
    </axis_definition>
  </context>

  <context id="xios">
    <variable_definition>
      <variable_group id="parameters">
        <variable id="print_file" type="bool">true</variable>
      </variable_group>
    </variable_definition>
  </context>
</simulation>
