<?xml version="1.0"?>
<simulation>
  <context id="nextSIM-DG">
    <calendar type="Gregorian" time_origin="1970-01-01" />
    <axis_definition>
      <axis id="DGAxis" n_glo="{{ DGCOMP }}"/>
      <axis id="DGSAxis" n_glo="{{ DGSTRESSCOMP }}"/>
      <axis id="VertexAxis" n_glo="2"/>
    </axis_definition>
  </context>

  <context id="xios">
    <variable_definition>
      <variable_group id="parameters">
        <variable id="print_file" type="bool">true</variable>
      </variable_group>
    </variable_definition>
  </context>
</simulation>
