[model]
init_file = init_25km_NH.nc
start = 2010-01-01T00:00:00Z
stop = 2010-01-05T00:00:00Z
time_step = P0-0T00:15:00
restart_period = P0-1T00:00:00

[Modules]
# # TODO: Align ConfigOutput and XiosDiagnostic (#981)
# DiagnosticOutputModule = Nextsim::ConfigOutput
DynamicsModule = Nextsim::BBMDynamics
IceThermodynamicsModule = Nextsim::ThermoWinton
AtmosphereBoundaryModule = Nextsim::ERA5Atmosphere
OceanBoundaryModule = Nextsim::TOPAZOcean

# # TODO: Align ConfigOutput and XiosDiagnostic (#981)
# [ConfigOutput]
# period = P0-1T0:00:00
# start = 2010-01-01T00:00:00Z
# field_names = hsnow,hice,tsurf,tinterior,tbottom,cice
# filename = june23.diagnostic.nc

[ERA5Atmosphere]
file = 25km_NH.ERA5_2010-01-01_2011-01-01.nc

[TOPAZOcean]
file = 25km_NH.TOPAZ4_2010-01-01_2011-01-01.nc

[XiosInput]
field_names = coords,longitude,latitude,grid_azimuth,mask,cice,hice,hsnow,sss,sst,u,v

[XiosOutput]
# FIXME: Writing out u and v gives unset values and results in a crash
field_names = coords,longitude,latitude,grid_azimuth,mask,cice,hice,hsnow,sss,sst
