name: compile code and tests

on:
  push:
    branches: [ main, develop, issue15_CI_workflow ]
  pull_request:
    branches: [ main, develop,  issue15_CI_workflow ]

jobs:

  clang-on-mac:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: clang
      run: |
        brew install clang-format
        cd core/src
        clang-format --dry-run -Werror *cpp include/*hpp
        cd -
        for component in physics
        do
          cd $component/src
          clang-format --dry-run -Werror *cpp include/*hpp
          cd -
        done
  
  
  build-and-tests-on-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: installs
      run: |
        sudo apt-get update
        sudo apt-get install netcdf-bin libnetcdf-c++4-dev libboost-all-dev libeigen3-dev cmake
        git clone -b v2.x https://github.com/catchorg/Catch2.git
        cd Catch2
        cmake -Bbuild -H. -DBUILD_TESTING=OFF
        sudo cmake --build build/ --target install
        cd ..
    - name: make
      run: |
        cmake .
        make
    - name: run tests
      run: |
        cd core/test
        for file in $(ls test*); do ./$file; done
        cd -
        for component in physics
        do
            cd $component/test
            for file in $(ls test*); do ./$file; done
            cd -
        done


  build-and-tests-on-mac:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: installs
      run: |
        brew install netcdf
        brew install boost
        brew install catch2
        brew install eigen
        brew install cmake
    - name: make
      run: |
        cmake .
        make
    - name: run tests
      run: |
        cd core/test
        for file in $(ls test*); do ./$file; done
        cd -
        for component in physics
        do
            cd $component/test
            for file in $(ls test*); do ./$file; done
            cd -
        done
